<h2>Welcome {{user.username}}</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde, odio
  quasi quia distinctio recusandae saepe ducimus a ut eum, quam ab iusto vero
  temporibus natus asperiores doloremque aperiam quos!
</p>