<h2>Learning Paths</h2>

<div class="item-grid">
  {{#each learningPaths}}
    <article class="item">
      <div>
        <p><b>{{title}}</b></p>
        <p>Predicted Time: <i>{{estimatedHours}}</i></p>
        <p><i>{{description}}</i></p>
        {{!-- <ol>
          {{#each steps}}
            <li>{{this}}</li>
          {{/each}}
        </ol> --}}
      </div>
    </article>
  {{/each}}
</div>