<h2>Learning Paths</h2>

<div class="item-grid">
  {{#each learningPaths}}
    <article class="item">
      <div>
        <p><b>{{title}}</b></p>
        <p><i>{{description}}</i></p>
      </div>
    </article>
  {{/each}}
</div>